CH_KEY=<Bearer-Token>
CH_URL=https://api.opentransportdata.swiss/ojp2020
CH_REQ_REF=OJP-META
AT_KEY=fix-your-ojp
AT_URL=https://vao.demo.hafas.de/linking-alps/ojp
AT_REQ_REF=LinkingAlps-Test-2022
IT_KEY=fix-your-ojp
IT_URL=https://efa.sta.bz.it/ojp/ojp
IT_REQ_REF=OJP-META
SLO_KEY=fix-your-ojp
SLO_URL=https://dev.atob.si/OpenAPI/LinkingAlps/OJP
SLO_REQ_REF=OJP-META
FERN_KEY=fix-your-ojp
FERN_URL=https://la-fvk.prod.ojp.odpch.ch/ojp/ojp
FERN_REQ_REF=OJP-META